<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ADMIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"   href="/departs/list">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/staff/list">List staffs</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/rank/rank">Rank</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/user/login">logout</a>
      </li>
    </ul>
   
  </div>
</nav>

	<div style="text-align: center; color: green;">
		<h3>Add or update staff</h3>
			<div th:if="${message != null}">
							<h4 th:text="${message}"></h4>
						</div>
	</div>
	
	<form class="container" th:action="@{/staff/save}"
		th:object="${staffDto}" method="post" enctype="multipart/form-data">
		<div style="width: 400px; float: left;">
		<div class="form-group">
				<label for="id">ID:</label> <input type="text"
					th:field="*{id}" class="form-control" id="id"
					placeholder="Id" disabled="disabled">
			</div>
			<div class="form-group">
				<label for="name">Name:</label> <input type="text"
					th:field="*{hoten}" class="form-control" id="name"
					placeholder="Name">
			</div>
			<div class="form-group">
				<label for="email">Email:</label> <input type="text"
					th:field="*{email}" class="form-control" id="email"
					placeholder="Email">
			</div>
			<div class="form-group">
				<label for="salary">Salary:</label> <input type="text"
					th:field="*{luong}" class="form-control" id="salary"
					placeholder="Salary">
			</div>
			<div class="form-group">
				<label for="birth">Birthday:</label> <input type="text"
					th:field="*{birthday}" class="form-control" id="birth"
					placeholder="Birthday">
			</div>
		</div>
		<div style="width: 400px; float: left; margin-left: 50px">
			<div class="form-group">
				<label for="sdt">Phone:</label> <input type="text" th:field="*{sdt}"
					class="form-control" id="sdt" placeholder="Phone">
			</div>
			<div class="form-group">
				<label for="note">Note:</label> <input type="text"
					th:field="*{mota}" class="form-control" id="note"
					placeholder="Note">
			</div>
			<div class="form-group">
				<label>Depart:</label> 
				<select style="width: 200px;" th:field="*{departID}">
					<option th:each="item:${departs}" th:value="${item.id}"
						th:text="${item.name}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="image">Photo:</label> 
				<input type="file"
					th:field="*{image}" id="image">

			</div>
			<div class="form-group">
				<label for="gt">Gender:</label> <label>Nam</label>
				<input
					type="radio" name="gioitinh" th:field="*{gioitinh}" th:value="true" id="gt"> 
				<label>Nu</label> <input
					type="radio" name="gioitinh" th:field="*{gioitinh}" th:value="false" id="gt">
			</div>
		</div>
		<div style="clear: both;">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>